<h1>Answer</h1>
<div class="container">
  <div class="row" style="text-align: left">
    <div class>
      <p><%= @question %></p>
      <p> -You</p>
    </div>
    <div>
      <p><%= @answer %></p>
      <p> -Your Couch</p>
    </div>
  </div>
</div>

<div class="btn btn-success" style="text-decoration: none;">
  <%= link_to "Ask another question", ask_path %>
</div>
