<form action="/answer" data-turbo="false">
  <div class="container-md" style="width: 300px">
    <div>
      <label for="question">Ask coach a question!</label>
    </div>
      <div>
        <input type="text" name="question">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
</form>
